$font-family-sans-serif: 'Roboto';
$body-bg: #fafafa;
$body-color: #333345;

$primary: #4086f4;
$success: #31a952;
$danger: #ec4132;


@import '../node_modules/bootstrap/scss/bootstrap.scss';

// body{
//     font-family: 'Ibarra Real Nova';
//     background-color: black !important;
// }

